$brand-primary-text: #0c1e1a;
$brand-primary-accent: #1e6655;
$brand-primary-background: #effaf7;

$brand-secondary-border: #b7cec9;
$brand-secondary-background: #e4efec;
$brand-secondary-text: #ffffff;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
