.single-photo-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__comments-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
}
