@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.tag-drawer {
  margin: 1rem 0;
  padding: 1rem;
  background-color: $brand-secondary-background;
  height: 100%;
  min-width: 21rem;
  padding-bottom: 2rem;

  @include tablet-and-above {
    padding: 1.5rem 1.5rem;
    height: 50vh;
  }

  @include desktop {
    width: auto;
    min-width: auto;
    height: 100%;
  }

  &__title {
    font-family: Outfit;
    font-weight: 400;
    margin-left: 0.5rem;

    @include tablet-and-above {
      padding-bottom: 1rem;
    }

    @include desktop {
      padding-bottom: 2rem;
    }
  }

  & .tag {
    color: $brand-primary-accent;
    border-color: $brand-primary-accent;
    font-size: 1rem;
    margin: 0.3rem;
    border-radius: 0.5rem;

    &--active {
      color: $brand-secondary-text;
      background-color: $brand-primary-accent;
    }

    &:hover {
      color: $brand-secondary-text;
      background-color: $brand-primary-accent;
    }
  }
}
