@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.gallery {
  display: flex;
  flex-direction: column;

  @include tablet-and-above {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
}
