@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.large-photo-card {
  width: 25rem;
  border: $brand-secondary-border 1px solid;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;

  @include tablet-and-above {
    border-radius: 0.75rem;
    margin: 0;
  }

  &__img-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  &__img {
    width: 25rem;
    height: 17rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    @include tablet-and-above {
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }
  }

  &__footer {
    background-color: $brand-secondary-background;
    padding: 0.6rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @include tablet-and-above {
      padding: 0.8rem;
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }
}
