@use "./styles/partials/resets";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;

body {
  font-family: "Newsreader";
  background-color: $brand-primary-background;
  margin: 0;
}

.main-wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
  }
}

.main-content-container {
  @include desktop {
    min-width: 66rem;
    padding: 1rem;
  }
}
