@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

.tag-drawer-container {
  @include desktop {
    width: 50%;
  }
}

.main-content-container {
  @include desktop {
    padding: 1rem;
    width: 100%;
    align-self: flex-end;
  }
}
